body{
  height:auto;
  margin:0;
}

#ocean{
  position:absolute;
  width:100%;
  min-height:100%;
}

.wave{
  background:#000000;
  display:inline-block;
  height:100%;
  width:1px;
  position:absolute;
  -webkit-animation-name:             dostuff; 
  -webkit-animation-duration:         3s; 
  -webkit-animation-iteration-count:  infinite;
  -webkit-transition-timing-function: ease-in-out;
}


@-webkit-keyframes dostuff{
  0%{
    height:60%;
  }
  50%{ 
    height:90%;
  }
  100%{ 
    height:60%;
  }
}